:host {
  display: block;
  height: 100%;
  overflow-y: auto;
  
  // Custom scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #114843;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4fb1b2;
    border-radius: 100px;
  }
  
    // Firefox scrollbar
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
  }

a.active {
  background-color: rgba(0, 0, 0, 0.04);
}

:host-context(.dark-theme) a.active {
  background-color: rgba(255, 255, 255, 0.04);
}

:host-context(.dark-theme) {
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}