//Primary palette
$primary-palette:(
    50: #feebee,
    100: #fdccd1,
    200: #ec9899,
    300: #e17172,
    400: #ea5050,
    500: #ef3f36,
    600: #e03535,
    700: #ce2c2f,
    800: #c12528,
    900: #b2181c,
    A100: #ec9899,
    A200: #e17172,
    A400: #ef3f36,
    A700: #ce2c2f,
    contrast: (
        50: rgba(#000000, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);

//Secondary palette
$secondary-palette:(
    50: #e0f1f2,
    100: #b2ddde,
    200: #81c7c9,
    300: #4fb1b2,
    400: #2ca1a0,
    500: #15908e,
    600: #138381,
    700: #127470,
    800: #126460,
    900: #114843,
    A100: #81c7c9,
    A200: #4fb1b2,
    A400: #15908e,
    A700: #127470,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);

//Errors palette
$warn-palette:(
    50: #fff3e0,
    100: #ffe0b2,
    200: #ffcc80,
    300: #ffb74d,
    400: #ffa726,
    500: #ff9800,
    600: #fb8c00,
    700: #f57c00,
    800: #ef6c00,
    900: #e65100,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: rgba(black, 0.87),
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    )
)