@use '@angular/material' as mat;
@use 'color' as clr;



$primary-color: mat.m2-define-palette(clr.$primary-palette);
$secondary-color: mat.m2-define-palette(clr.$secondary-palette, A200, A100, A400);
$warn-color: mat.m2-define-palette(clr.$warn-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-color,
    accent: $secondary-color,
    error: $warn-color,
  ),
  typography: mat.m2-define-typography-config()
));

@include mat.all-component-themes($theme);