//Primary palette :
$primary-palette:(
    50: #e7ebf2,
    100: #c3cbe0,
    200: #9daacb,
    300: #778ab6,
    400: #5970a7,
    500: #3b589a,
    600: #355091,
    700: #2c4685,
    800: #253d78,
    900: #1b2c61,
    contrast: (
        50: rgba(#000000, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);

//Secondary palette :
$secondary-palette:(
    50: #e0f1f2,
    100: #b2ddde,
    200: #81c7c9,
    300: #4fb1b2,
    400: #2ca1a0,
    500: #15908e,
    600: #138381,
    700: #127470,
    800: #126460,
    900: #114843,
    A100: #81c7c9,
    A200: #4fb1b2,
    A400: #15908e,
    A700: #127470,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);

//Errors palette :
$warn-palette:(
    50: #fff3e0,
    100: #ffe0b2,
    200: #ffcc80,
    300: #ffb74d,
    400: #ffa726,
    500: #ff9800,
    600: #fb8c00,
    700: #f57c00,
    800: #ef6c00,
    900: #e65100,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: rgba(black, 0.87),
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    )
);

// light mode theming :
$light-foreground: (
  base: #000,
  text: rgba(0, 0, 0, 0.87),
  secondary-text: rgba(0, 0, 0, 0.6),
  disabled: rgba(0, 0, 0, 0.38),
  icon: rgba(0, 0, 0, 0.54),
  divider: rgba(0, 0, 0, 0.12),
);

$light-background: (
  background: #fafafa,
  card: #ffffff,
  dialog: #ffffff,
  hover: rgba(0, 0, 0, 0.04),
  app-bar: #ffffff,
);

// Dark mode theming :
$dark-foreground: (
  base: #fff,
  text: rgba(255, 255, 255, 0.87),
  secondary-text: rgba(255, 255, 255, 0.6),
  disabled: rgba(255, 255, 255, 0.38),
  icon: rgba(255, 255, 255, 0.7),
  divider: rgba(255, 255, 255, 0.12),
);

$dark-background: (
  background: #121212,
  card: #1e1e1e,
  dialog: #1e1e1e,
  hover: rgba(255, 255, 255, 0.04),
  app-bar: #1e1e1e,
);
