
.example-button-row{
  display: flex;
  gap: 15px;

  mat-divider{
    margin-block: 20px;
  }

 .example-flex-container{
   display: flex;
   gap: 15px;
 }
}
  .example-label{
  margin-bottom: 10px;
  }
